<%= form_with(model: contas_receber, local: true) do |form| %>
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><h2><%= pluralize(contas_receber.errors.count, "Erro") %> Impediram a conta de ser salvo:</h2></div>
  <% end %>

<% if contas_receber.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% contas_receber.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="container animated slideInLeft">
  <div class="formulario">

  <div class="field">
    <%= form.label "Nome do Aluno:" %>
    <br><%= form.select :aluno_id, Aluno.all.collect {|x| [x.pessoa.nome, x.id] if x.ativo?}%>
  </div>

  <div class="field">
    <%= form.label "Data Recebimento:" %>
    <br><%= form.date_select :data_recebimento, id: :contas_receber_data_recebimento  %>
  </div>

  <div class="field">
    <%= form.label "Valor:" %>
    <br><%= form.text_field :valor, id: :contas_receber_valor, :size => "30"  %>
  </div>
  
  <div class="field">
    <%= form.label "Conta Recebida?" %>
    <%= form.check_box :pago, id: :contas_receber_pago %>
  </div>

</div>
</div>
  <div class="actions">
    <%= link_to ' << Voltar', contas_recebers_path, :class => "btn btn-danger text-white" %>
    <button type="submit" class="btn btn-success">Salvar Conta</button>
  </div>
<% end %>