<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %>"><%= value %></div>
<% end %>


<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#multiCollapseExample2" aria-expanded="false" aria-controls="multiCollapseExample2">Mostrar Contas pagas</button>
       

       
   <h1>Lista de contas a pagar</h1>
    <div class="table-responsive animated zoomIn">
      <table class="table ">
        <thead class="text-center text-white">
          <tr>
            <th>Nome do fornecedor</th>
            <th>Data do pagamento</th>
            <th>Situação</th>
            <th colspan="3"></th>
          </tr>
        </thead>        
        <tbody class="text-center">

          <% @contas_pagars.each do |conta| %>
              <% if !conta.pago? %>
                <tr>
                  <td><%= conta.fornecedor.nome %></td>
                  <td>
                    <% if conta.data_pagamento.to_date.future? %>
                      <strong><span class = "alert alert-dark">Faltam <%= (conta.data_pagamento - @date + 1).to_i%> dia(s) para o vencimento da conta!</span></strong>
                    <% else %>
                      <% if conta.data_pagamento.to_date.past?%>
                        <strong><span class = "alert alert-danger">A conta está atrasada a <%= (@date - conta.data_pagamento).to_i%> dia(s)!</span></strong>
                      <% else %>
                        <%  if conta.data_pagamento.to_date.today? %>
                          <strong><span class = "alert alert-warning">A conta vence hoje!</span></strong>

                  </td>
                        <% end %>
                      <% end %>
                    <% end %>
                    <td><strong><span class = "alert alert-danger">Conta não paga</span></strong></td>
                  <td>
                    <%= link_to 'Visualizar', conta, :class => "btn btn-primary text-white" %>
                    <%= link_to 'Editar', edit_contas_pagar_path(conta), :class => "btn btn-info text-white" %>
                    <%= link_to 'Excluir', conta, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger text-white" %>
                  </td>
                </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
    <br>
    <br>
    <br>
      <!-- Collapse de alunos Desativados-->
      <div class="collapse multi-collapse " id="multiCollapseExample2">
        <h1>Lista de contas pagas</h1>
        <div class="table-responsive animated zoomIn">
          <table class="table ">
             <thead class="text-center text-white">
              <tr>
                <th>Nome do fornecedor</th>
                 <th>Data do pagamento</th>
                <th>Situação</th>
                <th colspan="3"></th>
               </tr>
            </thead>
            <tbody class="text-center">
               <% @contas_pagars.each do |conta| %>
                <% if conta.pago? %>
                  <tr>
                    <td><%= conta.descricao %></td>
                    <td> <strong><span class = "alert alert-success"><%= conta.data_pagamento%></span></strong></td>
                    <td><strong><span class = "alert alert-success">Conta paga</span></strong></td>
                    <td>
                      <%= link_to 'Visualizar', conta, :class => "btn btn-primary text-white" %>
                      <%= link_to 'Excluir', conta, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger text-white" %>
                  </td>
                  </tr>
              <% end %>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>

<% if @soma!=0 %>
  <div class = "alert alert-danger">Total de conta(s) em aberto: R$ <%= @soma%></div>
<% else  %>
  <div class = "alert alert-success">Total de conta(s) em aberto: R$ <%= @soma%></div>
<% end %>
<%= link_to 'Cadastrar contas a pagar', new_contas_pagar_path, :class => "btn btn-success text-white" %>



