<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %>"><%= value %></div>
<% end %>


<h1><%= @exame_fisico.aluno.pessoa.nome  %></h1>
  <div class="table-responsive">
    <table class="table ">
      <thead class="text-center text-white">
        <tr>
        <th>Funcionário:</th>
        <th>Data Exame:</th>
        <th>Peso:</th>
        <th>Altura:</th>
        <th>Imc:</th>
        <th>Busto:</th>
        <th>Cintura:</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
        <tbody class="text-center">
          <tr>
            <td><%= @exame_fisico.funcionario.pessoa.nome %></td>
            <td><%= @exame_fisico.dataExame %></td>
            <td><%= @exame_fisico.peso %></td>
            <td><%= @exame_fisico.altura %></td>
            <td><%= @exame_fisico.imc %></td>
            <td><%= @exame_fisico.busto %></td>
            <td><%= @exame_fisico.cintura %></td>
          </tr>
        </tbody>
    </table>
  </div>

<%= link_to '<< Voltar', exame_fisicos_path, :class => "btn btn-danger" %>
